#sidebar .btn-large i {
    top: -2px;
    position: relative;
}
#sidebar .btn-large  {
    line-height:51px;
}

#timeControls{
	top:57px !important;
}
#time {
	top:57px;
}

/*#timeControls{
	top:50px !important;
	left:88px !important;
	font-size:22px !important;
}
#time {
	top:-57px;
	display:none !important;
}