.zeekColor {
	background-color:#FFCB05 !important;
	color:#000 !important
}
.top .title,.top .tool,.top .tool i,.btn-floating i {
	color:#000 !important
}
.pagination li.active {
    background-color: #FFCB05 !important;
	
}
.pagination li.active a {
	color:#000 !important
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #e29700 !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #e29700 !important;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #e29700 !important;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #e29700 !important;
    background-color: #e29700 !important;
}

input:checked + .swslider {
    background-color: #FFCB05 !important;
}

input:checked + .swslider:before, .switchy [type="checkbox"]:checked+span:not(.lever):before {
    background-color: #ffee84;
}

.noUi-connect{
	background:#e29700  !Important; 
}
.inputGroup h6 {
	background:#FFCB05 ;
    color:#000;
}
.list li.section-title {
	color:#e29700;
}
#wait .loading,.loading {
	border-top-color:#e29700
}
.input-field .prefix.active{
	color:#e29700  !important;
}
.dropdown-content li>a, .dropdown-content li>span {
	color:#e29700;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #e29700  !important;
    -webkit-box-shadow: 0 1px 0 0 #e29700  !important;
    box-shadow: 0 1px 0 0 #e29700  !important;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #e29700  !important;
    -webkit-box-shadow: 0 1px 0 0 #e29700  !important;
    box-shadow: 0 1px 0 0 #e29700  !important;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #e29700  !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #e29700 ;
    box-shadow: #2a9dee 0 1px 3px 0 inset;
}
thead {
	background-color: #FFCB05;
    color: #000;
}

li.listsel {
	background-color:#FFCB05 !important;
	color:#000;
}
li.listsel .listSubtext {
	color:#000 !important
}
.divisor{
    background:#e29700;
}
h5 {
    color:#e29700;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

    border: 2px solid #FFCB05;
    background-color: #FFCB05;
}
.sidenav .user-view .background {
    background-color: #FFCB05;
}

.sidenav .name,.sidenav .email {
    color:#000  !important;
    text-shadow:none;
}
.btn-small.selectall {
    background-color:#c69d00;
}
.tap-title,.tap-subtitle{
    color:#000;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color:#e29700;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:#FFCB05;
}

span[class$="bubble_coords"] {
    color:#c69d00;
}

.list li.selected,.list li.activo {
    background:rgba(198, 157, 0, 0.15)
}
#sidebar::-webkit-scrollbar-thumb,
.inputGroup .content::-webkit-scrollbar-thumb,
.subVista::-webkit-scrollbar-thumb {
    background: #e5b604; 
}
.button {
    background:#FFCB05;
    color:#000;
}
.button.white-button {
    border: solid 2px #FFCB05;
    color: #000;
}
.button.share-time{
    border:2px solid #FFCB05;
}
.button.red {
    color:#FFF;
}
html{
    background: rgba(255,203,5,0.5);
}
body.sidenav-open .selected-menu,
body.sidenav-open .selected-menu:hover {
    color:#000 !important;
    background: rgba(255,203,5,1);
}
body.sidenav-open .selected-menu i,
body.sidenav-open .selected-menu a {
    color:#000 !important;
}
body:not(.sidenav-open) .top {
    background:#333 url(../img/zeek_logo_flotillas.png) no-repeat center center;
    background-size:75px;
}