/*@font-face {font-family: 'Myriad';font-style: normal;src: url('../fonts/Myriad.otf')}*/
@font-face {font-family: 'MyriadSemi';font-style: normal;font-weight: bold;src: url('../fonts/MyriadSemi.otf')}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: 'LigatureSymbols';
    src: url('../fonts/LigatureSymbols-2.11.eot');
    src: url('../fonts/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('../fonts/LigatureSymbols-2.11.woff') format('woff'),
         url('../fonts/LigatureSymbols-2.11.ttf') format('truetype'),
         url('../fonts/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('../fonts/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v7/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Sosa';
    src: url('../fonts/sosa-regular-webfont.eot');
    src: url('../fonts/sosa-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sosa-regular-webfont.woff') format('woff'),
         url('../fonts/sosa-regular-webfont.ttf') format('truetype'),
         url('../fonts/sosa-regular-webfont.svg') format('svg');
    src: url('../fonts/sosa-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*
	ZEEK MI AUTO FONT
	version 13/Dic/2016
*/
@font-face {
  font-family: 'ZeekMiAutoFont';
  src:  url('../fonts/ZeekMiAutoFont.eot?sem0qx');
  src:  url('../fonts/ZeekMiAutoFont.eot?sem0qx#iefix') format('embedded-opentype'),
    url('../fonts/ZeekMiAutoFont.ttf?sem0qx') format('truetype'),
    url('../fonts/ZeekMiAutoFont.woff?sem0qx') format('woff'),
    url('../fonts/ZeekMiAutoFont.svg?sem0qx#ZeekMiAutoFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ZeekMiAutoFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/material-icons.woff2) format('woff2'); 
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.icon-seguirmiauto:before {
  content: "\e900";
}
.icon-misautos:before {
  content: "\e901";
}
.icon-mislugares:before {
  content: "\e902";
}
.icon-historial:before {
  content: "\e903";
}
.icon-recordatorios:before {
  content: "\e904";
}
.icon-eventos:before {
  content: "\e905";
}
.icon-ajustes:before {
  content: "\e906";
}
.icon-sinevento:before {
  content: "\e907";
}
.icon-apagado:before {
  content: "\e908";
}
.icon-menu:before {
  content: "\e909";
}
.icon-regresar:before,.icon-back:before {
  content: "\e90a";
}
.icon-buscar:before {
  content: "\e90b";
}
.icon-activado:before {
  content: "\e90c";
}
.icon-desactivado:before,.icon-close:before {
  content: "\e90d";
}
.icon-etc:before {
  content: "\e90e";
}
.icon-izq:before {
  content: "\e90f";
}
.icon-ma:before {
  content: "\e910";
}
.icon-basura:before {
  content: "\e911";
}
.icon-editar:before,.icon-edit:before {
  content: "\e912";
}
.icon-add:before {
  content: "\e913";
}
.icon-key:before {
  content: "\e914";
}
.icon-vel:before {
  content: "\e915";
}
.icon-power:before {
  content: "\e916";
}
.icon-nopower:before {
  content: "\e917";
}
.icon-grua:before {
  content: "\e918";
}
.icon-der:before {
  content: "\e919";
}
.icon-cam:before {
  content: "\e91a";
}
.icon-motor:before {
  content: "\e91b";
}
.icon-oil:before {
  content: "\e91c";
}
.icon-car:before {
  content: "\e91d";
}
.icon-ok:before {
  content: "\e91e";
}
.icon-big:before {
  content: "\e91f";
}
.icon-small:before {
  content: "\e920";
}
.icon-minus:before {
  content: "\e921";
}
.icon-map:before {
  content: "\e922";
}
.icon-out:before {
  content: "\e923";
}
.icon-nokey:before {
  content: "\e924";
}
.icon-pin:before {
  content: "\e925";
}
.icon-sound:before {
  content: "\e926";
}
.icon-color:before {
  content: "\e927";
}

