.zeekColor {
	background-color:#1B75BC !important
}
.pagination li.active {
    background-color: #1B75BC !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #1B75BC !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #1B75BC !important;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #1B75BC !important;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #1B75BC !important;
    background-color: #1B75BC !important;
}

input:checked + .swslider {
    background-color: #1B75BC !important;
}

input:checked + .swslider:before, .switchy [type="checkbox"]:checked+span:not(.lever):before {
    background-color: #9CCDE4;
}

.noUi-connect{
	background:#1B75BC  !Important; 
}
.inputGroup h6 {
	background:#1B75BC ;
}
.list li.section-title {
	color:#1B75BC;
}
#wait .loading,.loading {
	border-top-color:#1B75BC
}
.input-field .prefix.active{
	color:#1B75BC  !important;
}
.dropdown-content li>a, .dropdown-content li>span {
	color:#1B75BC;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #1B75BC  !important;
    -webkit-box-shadow: 0 1px 0 0 #1B75BC  !important;
    box-shadow: 0 1px 0 0 #1B75BC  !important;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #1B75BC  !important;
    -webkit-box-shadow: 0 1px 0 0 #1B75BC  !important;
    box-shadow: 0 1px 0 0 #1B75BC  !important;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #1B75BC  !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #1B75BC ;
    box-shadow: #2a9dee 0 1px 3px 0 inset;
}
thead {
	background-color: #1B75BC;
    color: #FFF;
}
.dyn-svg{
	color:#1B75BC;
	fill:#1B75BC;
}

li.listsel {
	background-color:#1B75BC !important;
	color:#FFF;
}
li.listsel .listSubtext {
	color:#FFF !important
}
.divisor{
    background:#1B75BC;
}

h5 {
    color:#1B75BC;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

    border: 2px solid #1B75BC;
    background-color: #1B75BC;
}
.sidenav .user-view .background {
    background-color: #1B75BC;
}
.btn-small.selectall {
    background-color:#0f4b7a;
}
.tap-title,.tap-subtitle{
    color:#FFF;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color:#0f4b7a;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:#1B75BC;
}
span[class$="bubble_coords"] {
    color:#0f4b7a;
}
.list li.selected,.list li.activo {
    background:rgba(27, 117, 188, 0.15)
}
#sidebar::-webkit-scrollbar-thumb,
.inputGroup .content::-webkit-scrollbar-thumb,
.subVista::-webkit-scrollbar-thumb {
    background: #15598f; 
}

.button {
    background:#15598f;
}
.button.white-button {
    border: solid 2px #15598f;
    color: #15598f;
}
.button.share-time{
    border:2px solid #15598f;
}
html{
    background: rgba(27, 117, 188,0.5);
}
body.sidenav-open .selected-menu,
body.sidenav-open .selected-menu:hover {
    background: rgba(27, 117, 188,1);
}
body.sidenav-open .selected-menu i,
body.sidenav-open .selected-menu a {
    color:#FFF !important;
}
body:not(.sidenav-open) .top {
    background:#333 url(../img/zeek_logo_light.png) no-repeat center center;
    background-size:75px;
}