#map {
    background:#231f20 url(../img/teapp/gps_bg.png) no-repeat center center;
}
.zeekColor {
	background-color:#4a62bc !important
}
.pagination li.active {
    background-color: #4a62bc !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #4a62bc !important;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #4a62bc !important;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #4a62bc !important;
}

[type="checkbox"].filled-in:checked+label:after {
    border: 2px solid #4a62bc !important;
    background-color: #4a62bc !important;
}

input:checked + .swslider {
    background-color: #4a62bc !important;
}

input:checked + .swslider:before, .switchy [type="checkbox"]:checked+span:not(.lever):before {
    background-color: #9CCDE4;
}

.noUi-connect{
	background:#4a62bc  !Important; 
}
.inputGroup h6 {
	background:#4a62bc ;
}
.list li.section-title {
	color:#4a62bc;
}
#wait .loading,.loading {
	border-top-color:#4a62bc
}
.input-field .prefix.active{
	color:#4a62bc  !important;
}
.dropdown-content li>a, .dropdown-content li>span {
	color:#4a62bc;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #4a62bc  !important;
    -webkit-box-shadow: 0 1px 0 0 #4a62bc  !important;
    box-shadow: 0 1px 0 0 #4a62bc  !important;
}
input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #4a62bc  !important;
    -webkit-box-shadow: 0 1px 0 0 #4a62bc  !important;
    box-shadow: 0 1px 0 0 #4a62bc  !important;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
    color: #4a62bc  !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    background: #4a62bc ;
    box-shadow: #2a9dee 0 1px 3px 0 inset;
}
thead {
	background-color: #4a62bc;
    color: #FFF;
}
.dyn-svg{
	color:#4a62bc;
	fill:#4a62bc;
}

li.listsel {
	background-color:#4a62bc !important;
	color:#FFF;
}
li.listsel .listSubtext {
	color:#FFF !important
}
.divisor{
    background:#4a62bc;
}

h5 {
    color:#4a62bc;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

    border: 2px solid #4a62bc;
    background-color: #4a62bc;
}
.sidenav .user-view .background {
    background-color: #4a62bc;
}
.btn-small.selectall {
    background-color:#0f4b7a;
}
.tap-title,.tap-subtitle{
    color:#FFF;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color:#0f4b7a;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color:#4a62bc;
}
span[class$="bubble_coords"] {
    color:#0f4b7a;
}
.list li.selected,.list li.activo {
    background:rgba(27, 117, 188, 0.15)
}
#sidebar::-webkit-scrollbar-thumb,
.inputGroup .content::-webkit-scrollbar-thumb,
.subVista::-webkit-scrollbar-thumb,
.carta::-webkit-scrollbar-thumb,
.trip_end_report_label::-webkit-scrollbar-thumb,
.trip_end_report_box::-webkit-scrollbar-thumb
 {
    background: #4a62bc; 
}

.button {
    background:#15598f;
}
.button.white-button {
    border: solid 2px #15598f;
    color: #15598f;
}
.button.share-time{
    border:2px solid #15598f;
}
html{
    background: rgba(27, 117, 188,0.5);
}
.sidenav { 
    border-top: solid 2px  #ffea00;
}
body.sidenav-open .selected-menu,
body.sidenav-open .selected-menu:hover {
    background: rgba(27, 117, 188,1);
}
body.sidenav-open .selected-menu i,
body.sidenav-open .selected-menu a {
    color:#FFF !important;
}
body.sidenav-open .top {
    background: #333 url(../img/teapp/logo_64.png) no-repeat center center;
    background-size: 40px;
}
body:not(.sidenav-open) .top {
    background:#333 url(../img/teapp/logo_transporte_white.png) no-repeat center center;
    background-size:128px;
}
.user-view .background {
    background: #4a62bc;
}
body.sidenav-open .selected-menu, body.sidenav-open .selected-menu:hover {
    background:#3a4194;
}
.btn-floating,
.btn-floating:hover{
    background-color: #3b4395;
}
#loginPage .loginLogo.teapp {
    background: url(../img/teapp/logo_transporte_yellow.png) no-repeat center center;
    background-size: 70%;
}
#loginPage .boton {
    background: #4a62bc !important
}
.boton,.btn {
    border: 2px solid gold;
}
.checkin_view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.inpt {
    background-color: #FFF !important;
    border-radius: 25px !important;
    text-transform: uppercase;
    padding: 3px 10px !important;
    font-size: 18pt !important;
    margin: 5px !important;
}
.checkin_input {
    display: flex;
    margin: 20px 10px;
    align-items: center;
}
.checkin_input .btn{
        border-radius: 25px;
    height: 50px;
}
.checkin_manual .inpt {
    text-align: center;
}

.checkin_title {
    font-size: 15pt;
    margin:0 15px 15px 15px;
    text-align: center;
}
.checkin_icon {
    margin-bottom:20px;
    font-size: 50pt;
}
.unit_checkin:not(.checkin_sub), .route_checkin:not(.checkin_sub) {
    font-size: 46pt;
}
.checkin_sub {
    font-size: 14pt;
}
.ask_checkin {
    margin: 20px 0;
}
.buttons_checkin {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 256px;
}
button,
.btn{
    margin-bottom: 15px;
    border-radius: 25px;
    padding: 5px;
    height: auto;
    min-height:44px;
}
.checkin_icon_group {
    display: flex;
    flex-direction: row;
}
.checkin_icon_group i {
    margin: 0 10px;
}
.checkin_icon_group i.fa-arrow-alt-right {
    font-size: 20pt;
    display: flex;
    align-items: center;
    justify-content: center;
}

html.scanning-qr #scanUI {
    position: absolute;
    top:0;
    left:0;
    display: block !important;
    width:100%;
    height:100%;
}
html.scanning-qr #main,
html.scanning-qr .sidenav {
    opacity:0 !important;
    pointer-events: none !important;
}
html.scanning-qr,
html.scanning-qr body{
    background:transparent !important;
    background-color: transparent !important;
}
.scan-title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(0,0,0,0.6);
    width: 100%;
    color: #FFF;
    padding: 12px 0;
    font-size: 12pt;
}
.scan-cancel {
    bottom: 15px;
    background: #FFF;
    color: #4a62bc;
    text-transform: uppercase;
    position: absolute;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: bold;
    transform: translate3d(-50%, 0px,0px);
    left: 50%;
    width: 85%;
    text-align: center;
    max-width: 250px;
}
.scan-torch {
    background: rgba(0,0,0,0.5);
    position: absolute;
    color: rgba(255,255,255,0.5);
    /* padding: 10px 20px; */
    right: 10px;
    border-radius: 50%;
    top: 50%;
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transform: translate3d(0px, -50%, 0px);
}
.scan-torch.torch-enabled{
    color:#FFF;
}
.unit_icon .fa-walking{
    font-size: 30pt;
    margin-right: 10px;
}
.unit_icon .fa-bus{
    font-size: 50pt;
}
.scan-help {
    position: absolute;
    bottom: 75px;
    left: 50%;
    transform: translate3d(-50%, 0px, 0px);
    background: rgba(0,0,0,0.5);
    color: #FFF;
    padding: 5px 20px;
    border-radius: 25px;
    text-align: center;
    width: 70%;
    max-width: 300px;
}
.scan-area {
    position: absolute;
    color: #000;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0px);
    font-size: 200pt;
    opacity: 0.15;
    width: 70%;
    height: 55%;
    background: url(../img/teapp/scan.png) no-repeat center center;
    background-size: contain;
}
@media only screen and (max-height : 540px) and (orientation:landscape){
    .checkin_view{
        justify-content: flex-start;
        padding-top:25px;
    }
}
.carta {
    background: #FFF;
    width: 90%;
    max-width: 500px;
    border:#CCC solid 1px;
    border-bottom: #CCC solid 3px;
    margin: 10px auto 10px;
    border-radius: 10px;
    overflow: hidden;
}
.trip-location span{
    font-weight: bold;
}
.trip-icon {
    width:10px;
    height:10px;
    border-radius:50%;
    display: inline-block;
    margin-right: 5px;
    flex-shrink: 0;
}
.trip-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.trip-date {
    text-transform: capitalize;
    display: flex;
}
.trip-date span {
    margin-left:7px;
}
.trip-end .trip-date {
    margin-left:15px;
}
.trip-location {
    display:flex;
    align-items: center;
}
.trip-start {
    padding: 10px 10px 0px;
}
.trip-end {
    padding:0px 10px 10px;
}
.trip-divider {
    border-radius: 0 0 10px 10px;
    height: 15px;
    background: #EEE;
    width: 8px;
    margin-left: 11px;
}
.trip-date .trip-divider {
    margin-left: 1px;
    border-radius: 10px 10px 0 0;
    height: auto;
}
.trip_card.current_trip .trip-divider {
    border-radius: 10px
}
.trip-data {
    padding: 0px 10px 10px;
    display: flex;
    flex-direction: column;
}
.trip-route-unit,
.trip-driver {
    display: flex;
    flex-direction: row;
    margin:5px 0px;
}
.trip-route,
.trip-unit,
.trip-driver-mugshot {
    width: 50%;
    margin-right: 5px;
}
.trip-title {
    font-weight: 500;
    color: #999;
    word-break: break-word;
}
.trip-box span{
    font-weight: 500;
    color: #000;
}
.trip-driver-mugshot {
    display: flex;
    flex-direction: column;
}
.trip-driver-image {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 2px #666;
    margin-right: 10px;
    display: inline-table;
}
.trip-stars,
.trip-stars-over {
    font-family: 'Font Awesome 5 Pro';
}
.trip-stars {
    display: inline-block;
    position: relative;
    font-size: 13pt;
    top:4px;
}
.trip-stars-over {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.trip-driver-info {
    display: flex;
    align-items: center;
}
.trip-stars::before {
    content: "\f005 \f005 \f005 \f005 \f005";
}
.trip-stars-over::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-weight: bold;
}
.trip-route-img {
    height:150px;
    background: #EEE;
}
.trip-container {
    display: flex;
}
.trip-basic-data {
    width: 93%;
}
.trip-chevron {
    width: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:14pt;
    border-left: solid 1px #EEE;
    margin: 13px 0;
}
.trip_card {
    pointer-events: none;
    position: absolute;
    z-index: 9;
    right: 5px;
    top: 5px;
    width: 35%;
}
.trip_card .trip-driver .trip-box {
    width:50%;
}
.trip_card .trip-start-time span,
.trip_card .trip-route-distance span  {
    font-size:15pt;
}
.trip_card .trip-box span {
    font-size:14pt;
}

#map .trip_card .carta {
    margin: 0px;
    width:100%;
    pointer-events: all;
}
.trip_card .buttons_checkin {
    pointer-events: all;
    width: 100%;
    max-width: 500px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #FFF;
    padding: 3px;
    border-radius: 25px;
    margin:5px auto 0px;
}
.trip_card .buttons_checkin .btn {
    width: 50%;
    margin: 3px 3px;
}
/*@media screen and (max-width:758px) {*/
@media screen and (orientation:portrait) {
    .trip_card {
        width: 100%;
        bottom: env(safe-area-inset-bottom);
        top: unset;
        right: unset;
    }
    #map .trip_card .carta {
        margin: 10px auto;
        width:90%;
    }
    .trip_card .buttons_checkin {
        margin: 0px auto 5px;
        width: 90%;
    }
}

#map .trip_card .trip-basic-data {
    width:100%;
}
@media screen and (orientation: landscape) {
    #map .trip_card {
        height: calc(100vh - 55px - env(safe-area-inset-bottom));
        flex-direction: column;
        align-items: flex-end;
        display: flex;
    }
    .trip_card .buttons_checkin{
        margin:0;
        margin-top:5px;
    }
}
@media screen and (orientation: portrait) and (max-height:654px) {
    #map .trip_card .carta {
        height:128px;
        overflow-y:auto;
    }
    #map .trip_card .carta::-webkit-scrollbar {
        width: 5px;
    }
}
.btn.just-icon {
    width: 50px !important;
    height: 50px;
    margin-bottom:0px;
    flex-shrink: 0;
}
.btn.just-icon i {
    font-size:17pt;
}
@media screen and (orientation: landscape) and (max-height: 420px) {
    #map .trip_card:not(.current_trip) .carta {
        overflow-y: auto;
        max-height: calc(100% - 25px) !important;
    }
    #map .trip_card.current_trip .carta {
        overflow-y: auto;
        max-height: calc(100% - 60px) !important;
    }
    #map .trip_card .carta::-webkit-scrollbar {
        width: 5px;
    }
    #map .trip_card .buttons_checkin .btn {
        padding: 0px;
        font-size: 9pt;
    }
    .btn.just-icon {
        width: 60px !important;
        height: 35px;
        line-height: 0px !important;
    }
    .btn.just-icon i{
        font-size: 14pt;
    }
    .trip_card .trip-start-time span {
        font-size: 13pt;
    }
}

.buttons_checkin.current-trip-buttons .btn {
    width:100%;
}
.current-trip-options:after {
    content:'Opciones de Viaje';
}
.current-trip-options:before {
    content:'\f0c9';
    font-family: 'Font Awesome 5 Pro';
    padding-right: 10px;
}
@media screen and (orientation: landscape) and (max-width: 635px) {
    .current-trip-options:after {
        content:'Opciones';
    }
}
.btn:before {
    font-family: 'Font Awesome 5 Pro';
    padding-right: 10px;
}
.teapp_label_sharetrackme:before {
    content:'\f1e0';
    font-weight: 600;
}
.teapp_label_sharetrackme:after {
    content:'Compartir';
}
.teapp_label_scanpassengerqr:before {
    content:'\f029';
    font-weight:100;
}
.teapp_label_scanpassengerqr:after {
    content: 'Escanear Abordaje';
}
.teapp_label_endtrip:before {
    content:'\f207';
    font-weight: 600;
}
.teapp_label_endtrip.driver_end:before {
    content:'\f11e';
    font-weight: 600;
}
.teapp_label_endtrip:after {
    content:'Terminar Viaje';
}
.teapp_label_panicbutton:before {
    content:'\f071';
    font-weight: 600;
}
.teapp_label_panicbutton:after {
    content:'Botón de Pánico';
}
.teapp_label_reporttrip:before {
    content:'\f024';
    font-weight: 600;
}
.teapp_label_reporttrip:after {
    content:'Reportar';
}

.teapp_label_close:after {
    content:'Cerrar';
}
.teapp_label_back:after {
    content:'Regresar';
}
.teapp_label_send:after {
    content:'Enviar';
}
.driver_starttrip_btn:before {
    content:'\f024';
    font-weight: 600;
}
.driver_starttrip_btn:after {
    content:'Iniciar este Viaje';
}
.options_popup {
    z-index: 999;
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media screen and (orientation: landscape) {
    .options_popup {
        align-items: center;
    }
}
.teapp_box_title {
    text-align: center;
    padding: 5px 10px;
    font-size: 13pt;
    font-weight: 500;
    border-bottom: solid 1px rgba(0,0,0,0.2);
    margin: 0 auto 10px;
    width: fit-content;
}
.teapp_box_subtitle {
    padding: 5px 10px;
    font-size: 11pt;
    margin: 0 auto 10px;
    width: fit-content;
}
.teapp_box {
    background: #FFF;
    border-radius: 25px;
    padding: 5px;
    width: 90%;
    max-width: 400px;
    margin-bottom: 10px;
    max-height: 95%;
    display: flex;
    flex-direction: column;
}
.teapp_box_options {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    overflow-y: auto;
}
.rate_star {
    cursor: pointer;
}
.rate_star:after {
    font-family: 'Font Awesome 5 Pro';
    content:'\f005';
    font-size: 24pt;
    margin: 0 3px;
}
.rate_star.pos:after {
    content:'\f005';
    font-weight: bold;
    color: gold;
    -webkit-text-stroke: 2px #000;
}
.trip_end_avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #000;
    margin: 0 auto 5px;
}
.trip_end_drivername {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}
.rate_stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.rate_message {
    text-align: center;
    font-size: 11pt;
}
.trip_end_rating {
    margin: 15px 0;
}
/*#te_viajes .tripList{
    display: flex;
    flex-wrap: wrap;
}*/
.horario_date {
    position: sticky;
    top: 0;
    padding: 5px 0;
    z-index: 9;
    background: #F2F2F2;
}
.horario_date div {
    color: #FFF;
    background: #4a62bc;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12pt;
    margin: 0px auto;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
}
#te_horario .trip-data span {
    font-size:15pt;
}
#time,
#timeControls {
    display:none;
}
select.browser-default {
    border-radius: 25px;
    padding: 5px 10px;
    outline: none;
}
.teapp_box .row {
    margin-bottom: 0px
}
.trip-driver-info.hidden,
.trip-driver.hidden,
.checkin_view.hidden,
.scan-torch.hidden,
.trip_card.hidden,
.options_popup.hidden,
.trip-box.hidden,
.pushOption,.doze {
    display:none !important;
}
.btn.full-btn{
    width:100% !important;
}
.trip_end_driver_info {
    display: flex;
}
.trip_end_info_row {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 12pt;
}
.trip_end_info_row div {
    width: 50%;
}
.trip_end_info_label {
    font-weight: 600;
}
.trip_end_report_label {
    padding: 12px 10px;
    margin: 15px 0;
    background: #EEE;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    white-space: pre-wrap;
    overflow-y: auto;
}
.trip_end_report_label span {
    position: absolute;
    right: 10px;
    font-size: 12pt;
}
.trip_end_report_box {
    margin: 0 0 10px !important;
    width: 100%;
    background: #EEE;
    border-radius: 0 0 10px 10px;
    overflow-y: auto;
}
.trip_end_report_box .col{
    width: 100%;
}
.trip_end_report_label.report-open {
    margin:15px 0 0 !important;
    border-radius: 10px 10px 0 0;
    overflow-y: hidden;
}
.trip_end_report_label.report-sent {
    padding:0;
}
.trip_end_report_box .btn {
    margin-bottom: 0;
}
.trip_report_sent {
    font-weight: 500;
}
.trip_end_driver_message {
    text-align: center;
    margin: 0 0 15px;
    font-size: 13pt;
}
.trip_end_report_box::-webkit-scrollbar,
.trip_end_report_label::-webkit-scrollbar
 {
    width: 5px;
}
.trip_report_sent {
    font-weight: 500;
    position: sticky;
    top: 0;
    background: #EEE;
    padding: 5px 10px;
}
.trip_report_body {
    padding:0 10px 5px;
}

#panicUI { 
    z-index: 9;
}
.trip_suggestion_passenger,
.trip_suggestion_driver {
    background: none;
    pointer-events: none;
    z-index:5;
}

.trip_suggestion_passenger .teapp_box,
.trip_suggestion_driver .teapp_box{
    display: none;
    pointer-events: all;
}
.trip_suggestion_passenger.hidden .teapp_box,
.trip_suggestion_driver.hidden .teapp_box{
    transition: opacity 1s linear;
}
.user-view .email {
    text-transform: uppercase;
}
.emptycar {
    display: none;
}
.noContent {
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    width:100%;
    height:100%;
    left:0;top:0;
}
.noContent.hidden {
    display: none !important
}
.noContent::before {
    content: '\f059';
    font-family: 'Font Awesome 5 Pro';
    font-size: 25pt;
}
@media only screen and (max-height: 403px) and (orientation: landscape) {
    #panicUI {
        transform: unset;
        left: 10px;
        width: 60%;
    }
}
.domIcon.teapp_unit {
    width:50px;
    height:50px;
    top: -40px;
    left: -25px;
}
.domLabel_icon {
    top: -64px;
}
.domLabel_point {
    top:-50px;
}
.trip-driver-name i {
    font-size: 11pt;
    position: relative;
    top: -1px;
}
.trip-driver-name span {
    font-size:11pt !important;
}
.teapp-newacc {
    background-color: #4a62bc;
    border-radius: 50px;
    color: #FFF;
    padding: 5px 13px;
    font-size: 9pt;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    border: 2px solid gold;
}
.teapp-newacc:before {
    font-family: 'Font Awesome 5 Pro';
    content: '\f234';
    margin-right: 7px;
    font-weight: 600;
}
@media only screen and (orientation: landscape) {
    .teapp-newacc {
        right: unset;
        top: unset;
        left: 5px;
        bottom: 5px;
    }
}
#teapp_regtoken {
    z-index: 9999;
    background: #EEEEEE;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#teapp_regtoken.hidden {
    display: none !important;
}
#teapp_regtoken .buttons_checkin {
    position: absolute;
    bottom: calc(10px + env(safe-area-inset-bottom));
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
#teapp_register {
    z-index: 9999;
    background: #EEEEEE;
    position: absolute;
    width: 100%;
    height: calc(100% - env(safe-area-inset-bottom));
    top: 0;
    left: 0;
}
.inpt::-webkit-input-placeholder {
    text-transform: none;
    font-size: 13pt;
    position: relative;
    top: -3px;
    left: 3px;
}
.teapp_register_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
}
.teapp_code_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}
.teapp_code_info i {
    font-size: 38pt;
    border: solid #4a62bc 5px;
    border-radius: 50%;
    height: 85px;
    display: flex;
    align-items: center;
    width: 85px;
    justify-content: center;
    color: #4a62bc;
    margin-bottom: 10px;
}
.teapp_code_info .teapp_company{ 
    font-weight: bold;
    text-align: center;
}
.teapp_code_info .teapp_company:before{ 
    content: 'Empresa';
    font-size: 9pt;
    display: block;
    text-align: center;
    font-weight: normal;
}
.btn.free-btn {
    width: 100%;
}
#teapp_register .row{
    margin-bottom: 0px;
}
.col.teapp_reg_errors {
    background: rgba(255,0,0,0.1);
    border-radius: 10px;
    padding: 5px;
}
.teapp_error_title {
    font-size: 10pt;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}
.teapp_aceptas {
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
}
.user-view .servicelogo {
    border-radius: 10px !important;
    padding: 5px;
    background: #ffea00;
}
.top {
    border-top: solid 2px #ffea00;
}
#main #close-btn {
    top: 2px;
}