.dropdown-content li>a, .dropdown-content li>span {
	color:#F15A29;
}
.zeekColor{background-color:#F15A29 !important}
.swoff{
	color:#f47653 ;
}
input:checked + .swslider {
  background-color: #f47653 !important ;
}
input:checked + .swslider + .swoff  {
	color:#f47653 
}

input:focus + .swslider {
	box-shadow: 0 0 1px #F15A29 ;
}

input:checked + .swslider:before {
	background-color:#ff9172
}
.inputGroup h6 {
	background-color:#F15A29;
}
thead {
	background-color: #F15A29;
    color: #FFF;
}

li.listsel {
	background-color:#F15A29 !important;
	color:#FFF;
}
li.listsel .listSubtext {
	color:#FFF !important
}

.divisor{
	background:#F15A29;
}
h5 {
    color:#F15A29;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

    border: 2px solid #F15A29;
    background-color: #F15A29;
}
.sidenav .user-view .background {
	background-color: #F15A29;
}
.btn-small.selectall {
	background-color:#bf4300;
}
.tap-title,.tap-subtitle{
	color:#FFF;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color:#F15A29;
}
span[class$="bubble_coords"] {
	color:#F15A29;
}

.list li.selected,.list li.activo {
	background:rgba(241, 90, 41, 0.15)
}
#sidebar::-webkit-scrollbar-thumb,
.inputGroup .content::-webkit-scrollbar-thumb,
.subVista::-webkit-scrollbar-thumb {
    background: #d9400e; 
}
.button {
	background:#ff9172;
}
.button.white-button {
    border: solid 2px #ff9172;
    color: #ff9172;
}
.button.share-time{
	border:2px solid #ff9172;
}
html{
    background: rgba(241,90,41,0.5);
}
body.sidenav-open .selected-menu,
body.sidenav-open .selected-menu:hover {
	background: rgba(241, 90, 41,1);
}
body.sidenav-open .selected-menu i,
body.sidenav-open .selected-menu a {
	color:#FFF !important;
}
body:not(.sidenav-open) .top {
	background:#333 url(../img/zeek_logo_transporte.png) no-repeat center center;
	background-size:75px;
}
