#loginPage .loginLogo{
	background: url(../img/wl_logo.png) no-repeat center center;
    background-size: 60%;
}
#map {
	background:#231f20;
}
/* TEMA */
.dropdown-content li>a, .dropdown-content li>span {
	color:#47981D;
}
.zeekColor{background-color:#47981D !important}
.swoff{
	color:#74B751 ;
}
input:checked + .swslider {
  background-color: #74B751 !important ;
}
input:checked + .swslider + .swoff  {
	color:#74B751 
}

input:focus + .swslider {
	box-shadow: 0 0 1px #47981D ;
}

input:checked + .swslider:before {
	background-color:#9BCB82
}
.inputGroup h6 {
	background-color:#47981D;
}
thead {
	background-color: #47981D;
    color: #FFF;
}

li.listsel {
	background-color:#47981D !important;
	color:#FFF;
}
li.listsel .listSubtext {
	color:#FFF !important
}

.divisor{
	background:#47981D;
}
h5 {
    color:#47981D;
}
[type="checkbox"].filled-in:checked+span:not(.lever):after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after,
[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {

    border: 2px solid #47981D;
    background-color: #47981D;
}
.sidenav .user-view .background {
	background-color: #47981D;
}
.btn-small.selectall {
	background-color:#42682E;
}
.tap-title,.tap-subtitle{
	color:#FFF;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
	color:#47981D;
}
span[class$="bubble_coords"] {
	color:#47981D;
}

.list li.selected,.list li.activo {
	background:rgba(71, 152, 29, 0.15)
}
#sidebar::-webkit-scrollbar-thumb,
.inputGroup .content::-webkit-scrollbar-thumb,
.subVista::-webkit-scrollbar-thumb {
    background: #47981D; 
}
.pagination li.active {
	background:#47981D
}
body .emptylist:before{
	background: #FFF url(../img/empty-wl.svg) repeat-x right bottom !important;
    background-size: contain !important;
}
body.transporte .emptylist:before {
    background: #FFF url(../img/empty-wl.svg) repeat-x right bottom !important;
    background-size: contain !important;
}
body.flotillas .emptylist:before  {
    background: #FFF url(../img/empty-wl.svg) repeat-x right bottom !important;
    background-size: contain !important;
}
body.light .emptylist:before  {
    background: #FFF url(../img/empty-wl.svg) repeat-x right bottom !important;
    background-size: contain !important;
}

.svg-icon.recorrido{
	background:url(../img/iconos/wl_recorrido.svg) no-repeat center center;
}
.svg-icon.velocidad{
	background:url(../img/iconos/wl_velocidad.svg) no-repeat center center;
}
.svg-icon.calendario{
	background:url(../img/iconos/wl_calendario.svg) no-repeat center center;
}
.svg-icon.eventos{
	background:url(../img/iconos/wl_eventos.svg) no-repeat center center;
}
.svg-icon.tiempo{
	background:url(../img/iconos/wl_tiempo.svg) no-repeat center center;
}

input:checked + .swslider:before, .switchy [type="checkbox"]:checked+span:not(.lever):before {
	background-color:#47981d
}

.list li.section-title {
	color:#47981d
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]),input.valid:not([type]), input.valid:not([type]):focus, input[type=text].valid:not(.browser-default), input[type=text].valid:not(.browser-default):focus, input[type=password].valid:not(.browser-default), input[type=password].valid:not(.browser-default):focus, input[type=email].valid:not(.browser-default), input[type=email].valid:not(.browser-default):focus, input[type=url].valid:not(.browser-default), input[type=url].valid:not(.browser-default):focus, input[type=time].valid:not(.browser-default), input[type=time].valid:not(.browser-default):focus, input[type=date].valid:not(.browser-default), input[type=date].valid:not(.browser-default):focus, input[type=datetime].valid:not(.browser-default), input[type=datetime].valid:not(.browser-default):focus, input[type=datetime-local].valid:not(.browser-default), input[type=datetime-local].valid:not(.browser-default):focus, input[type=tel].valid:not(.browser-default), input[type=tel].valid:not(.browser-default):focus, input[type=number].valid:not(.browser-default), input[type=number].valid:not(.browser-default):focus, input[type=search].valid:not(.browser-default), input[type=search].valid:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
	border-bottom: 1px solid #47981D !important;
	box-shadow: 0 1px 0 0 #47981D !important;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label,
.input-field .prefix.active {
	color:#47981D !important
}

.boton {
	background: linear-gradient(40deg,#75db40,#47981D)!important;
}