
.icon-font_año:before { content: '\e800'; } /* '' */
.icon-font_ayuda:before { content: '\e801'; } /* '' */
.icon-font_carga:before { content: '\e802'; } /* '' */
.icon-font_cerrar-o-cancelar:before { content: '\e803'; } /* '' */
.icon-font_cerrar-sesion:before { content: '\e804'; } /* '' */
.icon-font_chofer:before { content: '\e805'; } /* '' */
.icon-font_color:before { content: '\e806'; } /* '' */
.icon-font_configuración:before { content: '\e807'; } /* '' */
.icon-font_descripcion:before { content: '\e808'; } /* '' */
.icon-font_detalles:before { content: '\e809'; } /* '' */
.icon-font_economia-gasolina:before { content: '\e80a'; } /* '' */
.icon-font_eventos:before { content: '\e80b'; } /* '' */
.icon-font_geocercas:before { content: '\e80c'; } /* '' */
.icon-font_georeferencias:before { content: '\e80d'; } /* '' */
.icon-font_georutas:before { content: '\e80e'; } /* '' */
.icon-font_grupos:before { content: '\e80f'; } /* '' */
.icon-font_historial:before { content: '\e810'; } /* '' */
.icon-font_limpiar-mapa:before { content: '\e811'; } /* '' */
.icon-font_lista-de-eventos:before { content: '\e812'; } /* '' */
.icon-font_marca:before { content: '\e813'; } /* '' */
.icon-font_maximizar:before { content: '\e814'; } /* '' */
.icon-font_menu:before { content: '\e815'; } /* '' */
.icon-font_minimizar:before { content: '\e816'; } /* '' */
.icon-font_notificaciones-push:before { content: '\e817'; } /* '' */
.icon-font_num-serie:before { content: '\e818'; } /* '' */
.icon-font_placas:before { content: '\e819'; } /* '' */
.icon-font_precio-gasolina:before { content: '\e81a'; } /* '' */
.icon-font_puntos:before { content: '\e81b'; } /* '' */
.icon-font_rastreo-continuo:before { content: '\e81c'; } /* '' */
.icon-font_retroceder:before { content: '\e81d'; } /* '' */
.icon-font_seleccionar:before { content: '\e81e'; } /* '' */
.icon-font_siguiente:before { content: '\e81f'; } /* '' */
.icon-font_ultima-posicion:before { content: '\e820'; } /* '' */
.icon-font_vehiculos---modelo:before { content: '\e821'; } /* '' */
.icon-font_velocidad:before { content: '\e822'; } /* '' */