@font-face {
  font-family: 'zeekappfont';
  src: url('../fonts/zeekappfont.eot?19049004');
  src: url('../fonts/zeekappfont.eot?19049004#iefix') format('embedded-opentype'),
       url('../fonts/zeekappfont.woff2?19049004') format('woff2'),
       url('../fonts/zeekappfont.woff?19049004') format('woff'),
       url('../fonts/zeekappfont.ttf?19049004') format('truetype'),
       url('../fonts/zeekappfont.svg?19049004#zeekappfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'zeekappfont';
    src: url('../font/zeekappfont.svg?19049004#zeekappfont') format('svg');
  }
}
*/
 
 [class^="zicon_"]:before, [class*=" zicon_"]:before {
  font-family: "zeekappfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.zicon_year:before { content: '\e800'; } /* '' */
.zicon_ayuda:before { content: '\e801'; } /* '' */
.zicon_carga:before { content: '\e802'; } /* '' */
.zicon_cerrar:before { content: '\e803'; } /* '' */
.zicon_cerrar-sesion:before { content: '\e804'; } /* '' */
.zicon_chofer:before { content: '\e805'; } /* '' */
.zicon_color:before { content: '\e806'; } /* '' */
.zicon_config:before { content: '\e807'; } /* '' */
.zicon_descripcion:before { content: '\e808'; } /* '' */
.zicon_detalles:before { content: '\e809'; } /* '' */
.zicon_economia-gasolina:before { content: '\e80a'; } /* '' */
.zicon_eventos:before { content: '\e80b'; } /* '' */
.zicon_geocerca:before { content: '\e80c'; } /* '' */
.zicon_georeferencias:before { content: '\e80d'; } /* '' */
.zicon_georuta:before { content: '\e80e'; } /* '' */
.zicon_grupos:before { content: '\e80f'; } /* '' */
.zicon_historial:before { content: '\e810'; } /* '' */
.zicon_limpiar-mapa:before { content: '\e811'; } /* '' */
.zicon_lista:before { content: '\e812'; } /* '' */
.zicon_marca:before { content: '\e813'; } /* '' */
.zicon_maximizar:before { content: '\e814'; } /* '' */
.zicon_menu:before { content: '\e815'; } /* '' */
.zicon_minimizar:before { content: '\e816'; } /* '' */
.zicon_notificaciones-push:before { content: '\e817'; } /* '' */
.zicon_num-serie:before { content: '\e818'; } /* '' */
.zicon_placas:before { content: '\e819'; } /* '' */
.zicon_precio-gasolina:before { content: '\e81a'; } /* '' */
.zicon_puntos:before { content: '\e81b'; } /* '' */
.zicon_rastreo-continuo:before { content: '\e81c'; } /* '' */
.zicon_back:before { content: '\e81d'; } /* '' */
.zicon_seleccionar:before { content: '\e81e'; } /* '' */
.zicon_next:before { content: '\e81f'; } /* '' */
.zicon_ultima-posicion:before { content: '\e820'; } /* '' */
.zicon_auto:before { content: '\e821'; } /* '' */
.zicon_velocidad:before { content: '\e822'; } /* '' */